<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <div class="container text-center">
        <p id="flashMessage" class="text-primary">
            <%= message %>
        </p>
    </div>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1><b>TASK_01</b></h1>
            <h3><b>Secure User Authentication</b></h3>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="/javascript/loginerroflash.js"></script>
</body>

</html>